body {
	background-image: url(background5.gif);
	background-position: center;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat; 
}
.title {
	background-color: #F5FEFD;
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center; 
	font-size: 80px;
	border: solid #82EEFD;
}
.SS {
	display: inline-block; 
	width: 60%;
	background-color: #F5FEFD;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left: 60px; 
	font-size: 25px;
	border: solid #82EEFD;
	text-align: center;
}
#titleSS {
	display: inline-block; 
	text-align: center;
	font-size: 30px;
	color: #0583D2;
}
#intro {
	text-align: center;
	font-size: 26px;
} 
video {
	border: solid #F5FEFD;
	width: 800px;
	height: 500px;
	margin-left: 30px;
}
.back {
	display: inline-block; 
	margin-right: 60px; 
	width: 30%;
	float: right;
	background-color: #F5FEFD;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 25px;
	border: solid #82EEFD;
	text-align: center;
}